/*OMNIPRESENT GREENISH COLOR - #2ecc71*/

/*BASE*/

    /*Resets*/

    html, body, header, footer, div, span, h1, h2, h3, p, a, iframe,
    ul, li, input, form, img {
        margin: 0;
        padding: 0;
        display: block;
        position: relative;
    }
    html, body{
        font-size: 16px;
    }

    /*Typography*/

    h1 {
        font-family: 'Pacifico', cursive;
        font-size: 3.750em;
        color: #ffffff;
        margin-bottom: 20px;
        font-weight: 400;
    }
    h2 {
        font-family: 'Raleway', sans-serif;
        font-size: 1.375em;
        margin-bottom: 32px;
    }
    h3 {
        font-family: 'Raleway', sans-serif;
        font-size: 1.125em;
    }
    p {
        font-family: 'Roboto', sans-serif;
        font-size: 1em;
        line-height: 24px;
        color: #848484;
    }
    a {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: #848484;
        text-decoration: none;
    }
    span {
        display: inline-block;
        color: #2ECC71;
    }


/*LAYOUT (basic positioning)*/

    /*Header*/
    header {
        width: 100%;
        height: 600px;
        border-top: 10px solid #2ECC71;
        background-image: url("../imgs/header_bg.jpg");
        overflow: hidden;
    }

    /*Features*/

    #features {
        height: 335px;
        padding: 60px 0 0 0;
        text-align: center;
    }

    /*Get notified*/

    #get-notified {
        height: 427px;
        padding: 60px 0 60px 0;
        background-color: #e3e3e3;
    }

    /*Testimonials*/
    #testimonials {
        height: 466px;
        padding: 60px 0 0 0;
    }
    /*Footer*/
    footer {
        height: 130px;
        background-color: #e3e3e3;
    }
    /*Content*/
    div.content {
        width: 1200px;
        margin: 0 auto;
    }

/*MODULE (stuff inside every module)*/

    /*Header*/

    #logo {
        margin: 179px 0 0 125px;
    }

    header p {
        font-size: 24px;
        color: #ffffff;
        line-height: 36px;
    }

    .hi-bg {
        width: 52px;
        height: 52px;
        background-color: #000000;
        opacity: 0.5;
        display: inline-block;
        border-radius: 100%;
        margin: 30px 14px 10px 0;
    }

    .hi-bg img {
        height: 21px;
        width: 22px;
        margin: 13px auto;
    }

    #window {
        margin-top: 14px;
    }

    #iphone {
        position: relative;
        left: 630px;
        bottom: 377px;
    }

    /*Features*/

    #middle {
        margin: 0 110px 0 110px;
    }

    #features p {
        line-height: 26px;
    }

    .box {
        display: inline-block;
        text-align: center;
        width: 320px;
    }

    .circle {
        width: 98px;
        height: 98px;
        margin: 31px auto;
        background-color: #2ECC71;
        border-radius: 100%;
    }

    .circle img {
        width: 43px;
        height: 43px;
        margin: auto;
        top: 27px;
    }

    /*Get notified*/

    #info {
        width: 550px;
    }

    #info p {
        line-height: 26px;
        margin-bottom: 30px;
    }

    /*form*/

    input {
        display: inline-block;
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
    }

    #inM {
        height: 54px;
        width: 289px;
        padding-left: 15px;
        border: 1px solid #c8c8c8;
        border-radius: 15px 0 0 15px;
        color: #848484;
    }

    #inB {
        height: 56px;
        width: 141px;
        background-color: #2ECC71;
        border: none;
        border-radius: 0 15px 15px 0;
        color: #ffffff;
        text-align: center;
        margin-left: -4px;
    }

    iframe {
        width: 500px;
        height: 307px;
        border: 1px solid #b3b3b3;
        position: relative;
        left: 690px;
        bottom: 230px;
    }

    /*Testimonials*/

    #testimonials {
        text-align: center;
    }

    #testimonials h3 {
        margin: 33px 0 30px 0;
    }

    #users {
        margin-bottom: 64px;
    }

    .faces {
        width: 50px;
        height: 50px;
        background-color: #9eb8ac;
        margin: 0 1px 0 1px;
        display: inline-block;
    }

    /*Get in touch*/

    .iti-bg {
        width: 34px;
        height: 34px;
        display: inline-block;
        margin: 30px 5px 0 5px;
        background-color: #9eb8ac;
        border-radius: 100%;
    }

    /*Footer*/

    ul {
        width: 540px;
        margin: 0 auto;
    }

    footer li{
        display: inline-block;
        margin: 64px 12px 0 12px;
        text-align: center;
    }


/*STATE*/
/*THEME*/
/*CHANGING STATE*/

    /*Hovers*/

    /*Logo*/

    .hi-bg {
        transition: background-color, opacity .5s;
    }

    .hi-bg:hover {
        opacity: 1;
        background-color: #2ECC71;
    }



